* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.models_container{
    height: 100vh;
}

.models_container_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}